@{
    ViewData["Title"] = "Confirm Transfer";
}

<h1 class="display-4">Confirm Transfer</h1>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Transfer">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <p for="AccountNumber" class="control-label">Account No: @ViewBag.AccountNumber</p>
                <input id="AccountNumber" name="AccountNumber" class="form-control" value=@ViewBag.AccountNumber type="hidden" />
                <p for="DestinationAccount" class="control-label">Destination Account No: @ViewBag.DestinationAccount</p>
                <input id="DestinationAccount" name="DestinationAccount" class="form-control"
                       value=@ViewBag.DestinationAccount type="hidden" />
                <p for="Amount" class="control-label">Transfer Amount: @ViewBag.Amount</p>
                <input id="Amount" name="Amount" class="form-control" value=@ViewBag.Amount type="hidden" />
                <p for="Comment" class="control-label">Comment: @ViewBag.Comment</p>
                <input id="Comment" name="Comment" class="form-control" value="@ViewBag.Comment" type="hidden" />
            </div>
            <div class="form-group">
                <input type="submit" value="Confirm" class="btn btn-primary" />
                <input asp-action="Index" type="submit" value="Cancel" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to Accounts</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}